*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: .25em 0 .5em
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.5em
}

h3 {
  font-size: 1.3em
}

h4, h5, h6 {
  font-size: 14px;
  font-style: italic
}

ul, ol {
  list-style: none
}

.Container {
  margin: 0 auto;
  max-width: 980px
}

.Container--fullWidth {
  max-width: none
}
